<h1>REACTIVE FORM</h1>

<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="id-movie">Identifiant</label>
    <input
      id="id-movie"
      formControlName="id"
      required
      minlength="3"
      maxlength="15"
    />
    <div *ngIf="movieForm.get('id')?.errors && movieForm.get('id')?.touched">
      <span *ngIf="movieForm.get('id')?.errors?.['required']"
        >Le champ identifiant est requis</span
      >
      <span *ngIf="movieForm.get('id')?.errors?.['minlength']"
        >La longueur minimale doit être supérieure à 3</span
      >
      <span *ngIf="movieForm.get('id')?.errors?.['maxlength']"
        >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="title-movie">Title</label>
    <input
      id="title-movie"
      formControlName="title"
      required
      minlength="3"
      maxlength="15"
    />
    <div
      *ngIf="movieForm.get('title')?.errors && movieForm.get('title')?.touched"
    >
      <span *ngIf="movieForm.get('title')?.errors?.['required']"
        >Le champ title est requis</span
      >
      <span *ngIf="movieForm.get('title')?.errors?.['minlength']"
        >La longueur minimale doit être supérieure à 3</span
      >
      <span *ngIf="movieForm.get('title')?.errors?.['maxlength']"
        >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="type-movie">Type</label>
    <input id="type-movie" formControlName="type" required />
    <div
      *ngIf="movieForm.get('type')?.errors && movieForm.get('type')?.touched"
    >
      <span *ngIf="movieForm.get('type')?.errors?.['required']"
        >Le champ type est requis</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="yearRelease-movie">Année de sortie</label>
    <input
      id="yearRelease-movie"
      type="number"
      formControlName="yearRelease"
      required
    />
    <div
      *ngIf="
        movieForm.get('yearRelease')?.errors &&
        movieForm.get('yearRelease')?.touched
      "
    >
      <span *ngIf="movieForm.get('yearRelease')?.errors?.['required']"
        >Le champ année de sortie est requis</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="fiche-movie">Fiche</label>
    <input id="fiche-movie" formControlName="fiche" required />
    <div
      *ngIf="movieForm.get('fiche')?.errors && movieForm.get('fiche')?.touched"
    >
      <span *ngIf="movieForm.get('fiche')?.errors?.['required']"
        >Le champ fiche est requis</span
      >
    </div>
  </fieldset>

  <button type="reset">Restaurer</button>
  <button type="submit" [disabled]="movieForm.invalid">Sauvegarder</button>
</form>
