<form
  (ngSubmit)="myForm.valid && onSubmit()"
  [formGroup]="movieForm"
  ]
  #myForm="ngForm"
>
  <fieldset>
    <label for="id-movie">Identifiant</label>
    <input
      id="id-movie"
      name="id-movie"
      type="text"
      formControlName="id"
      required
      minlength="3"
      maxlength="15"
    />

    <div *ngIf="movieForm.controls.errors && myForm.submitted">
      <span *ngIf="movieForm.controls.errors?.['required']"
        >Le champ identifiant est requis</span
      >
      <span *ngIf="movieForm.controls.errors?.['minlength']"
        >La longueur minimale doit être supérieure à 3</span
      >
      <span *ngIf="movieForm.controls.errors?.['maxlength']"
        >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="title-movie">Title</label>
    <input
      id="title-movie"
      name="title-movie"
      type="text"
      formControlName="title"
      required
      minlength="3"
      maxlength="15"
    />

    <div *ngIf="movieForm.controls.errors && myForm.submitted">
      <span *ngIf="movieForm.controls.errors?.['required']"
        >Le champ title est requis</span
      >
      <span *ngIf="movieForm.controls.errors?.['minlength']"
        >La longueur minimale doit être supérieure à 3</span
      >
      <span *ngIf="movieForm.controls.errors?.['maxlength']"
        >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="type-movie">Type</label>
    <input
      id="type-movie"
      name="type-movie"
      type="text"
      formControlName="type"
      required
    />

    <div *ngIf="movieForm.controls.errors && myForm.submitted">
      <span *ngIf="movieForm.controls.errors?.['required']"
        >Le champ type est requis</span
      >
      <span *ngIf="movieForm.controls.errors?.['email']"
        >Le type est invalide</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="yearRelease-movie">Année de sortie</label>
    <input
      id="yearRelease-movie"
      name="yearRelease-movie"
      type="number"
      formControlName="yearRelease"
      required
    />

    <div *ngIf="movieForm.controls.errors && myForm.submitted">
      <span *ngIf="movieForm.controls.errors?.['required']"
        >Le champ année de sortie est requis</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="fiche-movie">Fiche</label>
    <input
      id="fiche-movie"
      name="fiche-movie"
      type="text"
      formControlName="fiche"
      required
    />

    <div *ngIf="movieForm.controls.errors && myForm.submitted">
      <span *ngIf="movieForm.controls.errors?.['required']"
        >Le champ fiche est requis</span
      >
      <span *ngIf="movieForm.controls.errors?.['email']"
        >Le type est invalide</span
      >
    </div>
  </fieldset>

  <button type="reset">Restaurer</button>
  <button type="submit">Sauvegarder</button>
</form>
