<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h2>Inscription</h2>
    <label>
      Username:
      <input type="text" formControlName="userName" />
    </label>

    <div formGroupName="credentials">
      <label>
        Email:
        <input type="email" formControlName="userMail" />
      </label>

      <label>
        Password:
        <input type="password" formControlName="userPassword" />
      </label>
    </div>

    <div formGroupName="userAddress">
      <div>
        <label for="street">Rue</label>
        <input id="street" formControlName="street" />
      </div>

      <div>
        <label for="postalCode">Code postal</label>
        <input id="postalCode" formControlName="postalCode" />
      </div>

      <div>
        <label for="city">Ville</label>
        <input id="city" formControlName="city" />
      </div>
    </div>

    <button type="submit" [disabled]="!userForm.valid">Inscription</button>

    <div class="new-user-info" *ngIf="newUser">
      <h3>Nouveau utilisateur</h3>
      <p><strong>Nom d'utilisateur:</strong> {{ newUser.userName }}</p>
      <p><strong>Email:</strong> {{ newUser.userMail }}</p>
      <p><strong>Mot de passe:</strong> {{ newUser.userPassword }}</p>
      <p>
        <strong>Adresse:</strong> {{ newUser.userAddress.street }},
        {{ newUser.userAddress.postalCode }}, {{ newUser.userAddress.city }}
      </p>
    </div>
  </div>
</form>
