<p>sign-up-form works!</p>

<form (ngSubmit) = "onSubmit()">
    <fieldset>
      <label for="title-order">Title</label>
      <input id="title-order" name="title-order" type="text" [(ngModel)]="newOrder.title" required minlength="5">
    </fieldset>

    <fieldset>
      <label for="quantity-order">Quantité</label>
      <input id="quantity-order" name="quantity-order" [(ngModel)]="newOrder.quantity" type="number" required>
    </fieldset>

    <fieldset>
      <label for="date-order">Date de commande</label>
      <input id="date-order" name="date-order" [(ngModel)]="newOrder.date" type="date" required>
    </fieldset>

    <fieldset>
      <label for="contact-order">Contact</label>
      <input id="contact-order" name="contact-order" [(ngModel)]="newOrder.contact" type="email" required email>
    </fieldset>

    <button type="reset">Restaurer</button>
    <button type="submit">Sauvegarder</button>
</form>