

<form #myForm="ngForm" (ngSubmit)="myForm.valid && onSubmit()">
  <fieldset>
    <label for="first-name-order">First Name</label>
    <input
      id="first-name-order"
      name="first-name-order"
      type="text"
      [(ngModel)]="newOrder.firstName"
      #firstName="ngModel"
      required
      minlength="3"
      maxlength="15"
    />

    <div *ngIf="firstName.errors && myForm.submitted">
      <span *ngIf="firstName.errors?.['required']"
        >Le champ first name est requis</span
      >
      <span *ngIf="firstName.errors?.['minlength']"
        >La longueur minimale doit être supérieure à 3</span
      >
      <span *ngIf="firstName.errors?.['maxlength']"
        >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="last-name-order">Last Name</label>
    <input
      id="last-name-order"
      name="last-name-order"
      type="text"
      [(ngModel)]="newOrder.lastName"
      #lastName="ngModel"
      required
      minlength="3"
      maxlength="15"
    />

    <div *ngIf="lastName.errors && myForm.submitted">
      <span *ngIf="lastName.errors?.['required']"
        >Le champ last name est requis</span
      >
      <span *ngIf="lastName.errors?.['minlength']"
        >La longueur minimale doit être supérieure à 3</span
      >
      <span *ngIf="lastName.errors?.['maxlength']"
        >La longueur maximale doit être inférieure à 15</span
      >
    </div>
  </fieldset>

  <fieldset>
    <label for="email-order">Email</label>
    <input
      id="email-order"
      name="email-order"
      [(ngModel)]="newOrder.email"
      type="email"
      #email="ngModel"
      required
      email
    />

    <div *ngIf="email.errors && myForm.submitted">
      <span *ngIf="email.errors?.['required']">Le champ email est requis</span>
      <span *ngIf="email.errors?.['email']">L'email est invalide</span>
    </div>
  </fieldset>

  <fieldset>
    <label for="password-order">Password</label>
    <input
      id="password-order"
      name="password-order"
      [(ngModel)]="newOrder.password"
      #password="ngModel"
      type="password"
      required
    />

    <div *ngIf="password.errors && myForm.submitted">
      <span *ngIf="password.errors?.['required']"
        >Le champ password est requis</span
      >
    </div>
  </fieldset>

  <button type="reset">Restaurer</button>
  <button type="submit">Sauvegarder</button>
</form>
